<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link href="css/styles.css" rel="stylesheet">
    </head>    
    <body>
        <header>
        <img src="/images/logo-mercado-liebre.svg" width ="360" alt="logo">
        <p>Lugar para poner la barra de búsqueda</p>
        <ul>
            <li><a href= #>Ofertas</a></li>
            <li><a href= #>Tiendas Oficiales</a></li>
            <li><a href= #>Vender</a></li>
            <li><a href= #>Ayuda</a></li>
        </ul>
        <ul>
            <li><a href= #>Creá tu cuenta</a></li>
            <li><a href= #>Ingresá</a></li>
            <li><a href= #>Mis compras</a></li>
        </ul>
        </header>
        
        <main>
        <h4 class="titulares">Basado en tu última visita</h4>
        <img src="images\img-cafetera-moulinex.jpg" width="300" alt="cafetera">
        <p class="precio">$6.770</p>
        <p class="descuentos">40% OFF</p>
        <h5 class="descripciones">Cafetera Moulinex</h5>

        <img src="images\img-macbook-pro-2019.jpg" width="300" alt="macbook">
        <p class="precio">$230.000</p>
        <p class="descuentos">20% off</p>
        <h5 class="descripciones">MacBook Pro 2019</h5>

        <img src="images\img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy">
        <p class="precio">$70.500</p>
        <p class="descuentos">10% off</p>
        <h5 class="descripciones">Samsung Galaxy S10</h5>

        <img src="images\img-tv-samsung-smart.jpg" width="300" alt="smart tv">
        <p class="precio">$23.200</p>
        <p class="descuentos">5% off</p>
        <h5 class="descripciones">SmartTv Samsung 43"</h5>

        <h4 class="titulares">Sección de Ofertas</h4>
        <img src="images\img-cafetera-moulinex.jpg" width="300" alt="cafetera">
        <p class="precio">$6.770</p>
        <p class="descuentos">40% OFF</p>
        <h5 class="descripciones">Cafetera Moulinex</h5>

        <img src="images\img-macbook-pro-2019.jpg" width="300" alt="macbook">
        <p class="precio">$230.000</p>
        <p class="descuentos">20% off</p>
        <h5 class="descripciones">MacBook Pro 2019</h5>

        <img src="images\img-samsung-galaxy-s10.jpg" width="300" alt="samsung galaxy">
        <p class="precio">$70.500</p>
        <p class="descuentos">10% off</p>
        <h5 class="descripciones">Samsung Galaxy S10</h5>

        <img src="images\img-tv-samsung-smart.jpg" width="300" alt="smart tv">
        <p class="precio">$23.200</p>
        <p class="descuentos">5% off</p>
        <h5 class="descripciones">SmartTv Samsung 43"</h5>
        </main>
        
        <footer>
        <h5>Pagá con tarjeta o en efectivo</h5>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        
        <h5>Envío gratis desde $ 2.500</h5>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        
        <h5>Seguridad, de principio a fin</h5>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>