<html>
    <head>
        <meta charset="UTF-8">
        <title>Ingresa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link href="css/login.css" rel="stylesheet">
    </head> 
    <body>
        <header>
            <div class="cabecera-superior">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
                <div class="barra"> 
                    <input type="text" class="barra2" name="barra-busqueda" placeholder="Buscar productos, marcas...">
                    <i class="fas fa-search lupa"></i>
                </div>
                <p class="slogan"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        
        <div class="nav-bar">
            <ul class="navi-bar">
                <li><a href= #>Ofertas</a></li>
                <li><a href= #>Tiendas Oficiales</a></li>
                <li><a href= #>Vender</a></li>
                <li><a href= #>Ayuda</a></li>
            </ul>
            <ul class="login-bar">
                <li><a href= "/register">Creá tu cuenta</a> <i class="far fa-address-card"></i></li> 
                <li><a href= "/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></li>
                <li><a href= #>Mis compras</a> <i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        </header>
        
        <main>
            <section class="registro">
            <form class="fondo" action="/" method="GET">
                <article>
                    <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Nombre de Usuari@">
                </article>
               
                <article>
                    <input type="password" name="password" placeholder="Contraseña">                    
                </article>
                <article class="botones">
                    <div>
                        <button class="buttons" type="submit">Enviar</button>
                    </div>
                 </article>
            </form> 
        </section>
        </main>
    
        <footer>
            <div>
                <i class="fas fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            
            <div>
            <i class="fas fa-gift"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            
            <div>
            <i class="fas fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <p class="legal">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </footer>

    </body>
</html>